node_modules/
public/apiKeys.js
hilfsdateienmodellerstellung/
venv/
__pycache__
credentials/
automatischeanalyse/
FakeBilderBachelor/
trained_satellite_model.pth
satellite_image_detector.pth
autoRIFT-master
open-cd-main
Change-detection-in-multitemporal-satellite-images-master/images
satellitenbild.png
social_media_bild.png