node_modules/
public/apiKeys.js
hilfsdateienmodellerstellung/
venv/
public/tifs
__pycache__
credentials/
automatischeanalyse/Change-detection-in-multitemporal-satellite-images-master/Change-detection-in-multitemporal-satellite-images-master/images
FakeBilderBachelor/
trained_satellite_model.pth
satellite_image_detector.pth