extends layout

block content
  h1 Semi-automatische Erkennung manipulierter Satellitenbilder in sozialen Medien durch Vergleich mit Referenzdaten
  p Input: Satellitenbild, Referenzdaten Output: Manipulationserkennung
  