extends layout

block content

  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.2/dist/leaflet.css' integrity='sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.9.2/dist/leaflet.js' integrity='sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=' crossorigin='')


  // Heading Row
  .row.gx-4.gx-lg-5.align-items-center.my-5
    .col-lg-7
      img.img-fluid.rounded.mb-4.mb-lg-0(src="/images/muenster-altstadt.jpg" title="Der Prinzipalmarkt in Münster.© Münsterland e.V./Philipp Fölting")

    .col-lg-5
      p
        | Lärmbelastung kann weitreichende Folgen für die Gesundheit der betroffenen Personen haben.  Daher findet regelmäßig eine Lärmkartierung statt, für die von offizieller Seite gemäß EU Umgebungslärmrichtlinie alle fünf Jahre die durchschnittliche Lärmbelastung  durch Straßen-, Schienen- und Flugverkehr sowie Industrie quellenspezifisch modelliert wird. Jedoch werden in der Lärmkartierung nur stärker befahrende Straßen abgebildet und die Gesamtlärmbelastung aus verschiedenen Quellen wird nicht dargestellt.  Hier besteht ein großes Potenzial für Citizen Science: Bürger*innen können zusätzliche Messungen beitragen und damit die Datengrundlage erheblich verbessern.

  // Call to Action
  .card.text-white.bg-success(style='--bs-bg-opacity: .75;').my-5.py-4.text-center
    .card-body
      p.text-white.m-0
        | Schauen Sie sich verschiedene Lärmmessungen in Münster an und fügen Sie Eigene hinzu!

  // Content Row
  .row.gx-4.gx-lg-5
    .col-md-4.mb-5
      .card.h-100.shadow-lg
        .card-body
          h2.card-title Die Kalibrierung
          p.card-text
            | Damit vergleichbare Daten erhoben werden, müssen wir die Aufnahmegeräte kalibrieren. Jedes Mikrofon nimmt Lärm anders wahr und misst dadurch unterschiedliche Lautstärken für das gleiche Geräusch. Das ist ein Problem für eine valide Datengrundlage.
        .card-footer
          a.btn.btn-primary.btn-sm(href='/kalibrierung') zur Kalibrierung

    .col-md-4.mb-5
      .card.h-100.shadow-lg
        .card-body
          h2.card-title Die Messung
          p.card-text
            | Nachdem ihr Mikrofon kalibiert wurde, können Sie mit einer eigenen Messung starten.
        .card-footer
          a.btn.btn-primary.btn-sm(href='/messung') zur Messung

    .col-md-4.mb-5
      .card.h-100.shadow-lg
        .card-body
          h2.card-title OpenSenseMap
          p.card-text
            | In der OpenSenseMap können Sie sich schon erhobenen Daten ansehen und erste Auswertungen bestaunen, aber auch selber Daten analysieren. 
        .card-footer
          a.btn.btn-primary.btn-sm(href='/map') zur OpenSenseMap