extends layout

block content
  h1 Semi-automatische Erkennung manipulierter Satellitenbilder in sozialen Medien durch Vergleich mit Referenzdaten
  .row
    .row
      .col-md-6
        .image-container
          button#uebereinanderlegenButton Bild auf Karte legen
          input#transparenzRegler(type='range' min='0' max='100' value='50')
          input#textInput(type='text' placeholder='Hier Text eingeben...')
          br
          label(for="day") Tag: 
          input#datumTag(type="number" name="day" min="1" max="31")
          label(for="month") Monat: 
          select#datumMonat(name="month")
            option(value="") W채hle einen Monat
            option(value="1") Januar
            option(value="2") Februar
            option(value="3") M채rz
            option(value="4") April
            option(value="5") Mai
            option(value="6") Juni
            option(value="7") Juli
            option(value="8") August
            option(value="9") September
            option(value="10") Oktober
            option(value="11") November
            option(value="12") Dezember
          label(for="year") Monat: 
          select#datumJahr(name="year")
            option(value="") W채hle einen Jahr
            option(value="2024") 2024
            option(value="2023") 2023
            option(value="2022") 2022
            option(value="2021") 2021
            option(value="2020") 2020
            option(value="2019") 2019
            option(value="2018") 2018
            option(value="2017") 2017
            option(value="2016") 2016
            option(value="2015") 2015
          button#textInputApplyButton Text nutzen
          img#socialMediaBild(style="max-width: 100%; display: block")
          p
          p Mit Strg+V Bild einf체gen
          //button#analyzeButton Analyze Change Detection
          //div#result(style="margin-top: 20px")
      .col-md-6(style='position: relative;')
        img#satellitenbildEarthEngine(alt='Satellitenbild' style='width: 100%;')
        button#kartenCoordsApplyButton Satellitenbild aus Kartenausschnitt erstellen
        p#satellitenbildDatum
        #mapUndBildOverlayContainer
          .map-container(style = 'position: relative; z-index: 1;')
            #map(style='width: 100%; height: 700px;')
          .overlay-container(style = 'position: absolute; z-index: 3; top: 0; left: 0; pointer-events: none;')  
            img#transparentesBildOverlay(style='width: 100%; opacity: 0.5; display: none;')
