extends layout

block content
  h1 Willkommen auf unserer Website!
  p Dies ist die Hauptseite unserer Website. Hier finden Sie die neuesten Informationen und Updates.

  // Einige Links zu anderen Seiten
  ul
    li
      a(href='/about') Über uns
    li
      a(href='/contact') Kontakt

  // Einige dynamische Inhalte
  each val in [1, 2, 3, 4, 5]
    p= 'Dynamischer Inhalt: ' + val