doctype html
html
  head
    title= title

    link(rel='stylesheet' href='/stylesheets/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.2/dist/leaflet.css' integrity='sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=' crossorigin='')
    link(rel='stylesheet' href='/stylesheets/leaflet.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css')
    script(src='https://unpkg.com/leaflet@1.9.2/dist/leaflet.js' integrity='sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=' crossorigin='')
    script(src='https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js')
    script(src='https://unpkg.com/leaflet-simple-map-screenshoter')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  body
   
    // Page Content
    .row.px-4.px-lg-5(style="width:100%")
      block content

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
    // Hinzufügen von script.js
    script(type="module" src="/js/script.js")
    block footer
      footer.bg-light.py-2.mt-3
        .container.px-4.px-lg-5
          p.m-0.text-center.text-dark Diese Anwendung wurde im Rahmen der Bachelorarbeit von Darian Weiß erstellt.


